.tooltip span {
    border: #c0c0c0 1px dotted;
    padding: 5px 20px 5px 5px;
    display: inline;
    z-index: 100;
    background: #f0f0f0 no-repeat 100% 5%;
    margin: 10px;
    width: auto;
	overflow:visible;
    position: fixed;
    text-decoration: none
}
.tooltip:hover {
	font-weight: bold;
}
